.App {
  text-align: center;
}
.homepage-bgimage {
  background: url("https://scontent.fcnx4-1.fna.fbcdn.net/v/t1.15752-9/272179335_468479094748574_7302064323711094195_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=kRsFPJMbdhcAX-4sMsr&tn=hUU0vSJG6uVWfBvA&_nc_ht=scontent.fcnx4-1.fna&oh=03_AVJw2-5fsUtuUvU9w1XUfCmZHzLepfPW_CjREAV_6twbhA&oe=62304608");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain ;
}
.button {
  background-color: white; 
  border: 2px solid;
  border-radius: 12px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: 'absolute';
  bottom:0
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
